:root {
	cursor: default;
	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;
	overflow-y: auto;

	--theme-primary-lighten-1: 68, 167, 245;
	--theme-primary-lighten-2: 100, 181, 247;
}

:root,
body,
#app {
	width: 100%;
	height: 100%;
}

a {
	color: rgb(var(--v-theme-primary));
	transition: color 0.28s cubic-bezier(0.4, 0, 0.2, 1);
}

a:hover:not(.v-list-item) {
	color: rgb(var(--theme-primary-lighten-1));
}

a:focus:not(.v-list-item) {
	color: rgb(var(--theme-primary-lighten-2));
}

pre {
	font-family: 'Roboto Mono';
	font-size: 14px;
}

.text-selectable {
	cursor: auto !important;
}

.text-mono {
	font-family: 'Roboto Mono' !important;
	font-size: 14px !important;
}

.text-mono .v-field {
	font-size: 14px !important;
}
