:root {
	cursor: default;
	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;
	overflow-y: auto;

	--theme-primary-lighten-1: 68, 167, 245;
	--theme-primary-lighten-2: 100, 181, 247;
}

:root,
body,
#app {
	width: 100%;
	height: 100%;
}

a {
	color: rgb(var(--v-theme-primary));
	transition: color 0.28s cubic-bezier(0.4, 0, 0.2, 1);
}

a:hover:not(.v-list-item) {
	color: rgb(var(--theme-primary-lighten-1));
}

a:focus:not(.v-list-item) {
	color: rgb(var(--theme-primary-lighten-2));
}

pre {
	font-family: 'Roboto Mono', monospace;
	font-size: 14px;
}

.text-selectable {
	cursor: auto !important;
}

.text-mono {
	font-family: 'Roboto Mono', monospace !important;
	font-size: 14px !important;
}

.text-mono .v-field {
	font-size: 14px !important;
}

.text-resograd {
	background: linear-gradient(
		46deg,
		#00fffb,
		#7700ff,
		#ff0000,
		#80ff00,
		#00fffb,
		#7700ff
	);
	background-size: 500%;
	-webkit-background-clip: text;
	background-clip: text;
	-webkit-text-fill-color: transparent;
	animation: 60s ease-in-out infinite running resograd-slide;
}

@keyframes resograd-slide {
	0% {
		background-position: 0% 33%;
	}
	50% {
		background-position: 100% 68%;
	}
	100% {
		background-position: 0% 33%;
	}
}
